#okapi-wasb-button{
    position: fixed;
    z-index: 9999999;
}
#okapi-wasb-button{
    bottom: 15px;
    left: 15px;
}
#okapi-wasb-icon{
    opacity: 0.95;
    width: 60px;
    height: 60px;
}
#okapi-wasb-icon:hover{
    opacity: 1;
}



.wpcf7 form.sent .wpcf7-response-output{
    color:#fff
}
#tt-nav>ul>li>a{
    padding:4px 14px 4px !important
}
@media (min-width: 1025px){
    #tt-nav>ul>li ul {
        width: 300px
    }
    #tt-nav>ul>li ul li a {
        padding:7px 23px
    }
}

.holder-top-desktop{
    display:none !important
}
#tt-nav>ul>li>a{
    font-size:15px
}
.section-indent:not(.no-margin){
    margin-top:20px
}
.tt-box02 .tt-box02__img img{
    width:100%;
    height:100%;
    max-width:100%
}
.tt-box02 .tt-box02__img img{
    width:100%;
    height:280px;
    max-width:100%
}
.tt-bg-dark{
    width:100%;
    height:280px;
    max-width:100% !important
}
.tt-box02 .tt-box02__img{
    margin-bottom:25px
}

.elementor-swiper-button-next {
    right: -32px;
}
.elementor-swiper-button-prev {
    left: -32px;
}

.float{
    position:fixed;
    width:55px;
    height:55px;
    bottom:180px;
    right:0px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}
.um-form input[type=number] {
    width: 100%;
    height:40px !important
}
.tt-col-logo img {
    width: 200px;
}
#tt-nav>ul>li>a {
    font-size: 14px;
}
@media (min-width: 1230px){
    #js-init-sticky .container {
        max-width: 1300px;
    }
}
@media (min-width: 1025px){
    .mainSlider .slide .slide-content .tt-title-02 {
        font-size:34px
    }
}
a.tt-obj__btn.cart-contents {
    display: none;
}
.section-title .section-title__02{
    font-size:21px
}
.tt-slideinfo .tt-item__title span{
    font-size: 25px;
}	





.holder-top-desktop{
    display:none !important;
}

#tt-nav > ul > li > a{
    font-size:14px;
}

.section-indent:not(.no-margin){
    margin-top:20px;
}

.tt-box02 .tt-box02__img img{
    width:100%;
    height:280px;
    max-width:100%;
}

.tt-bg-dark{
    width:100%;
    height:280px;
    max-width:100% !important;
}

.tt-box02 .tt-box02__img{
    margin-bottom:25px;
}

.elementor-swiper-button-next{
    right:-32px;
}

.elementor-swiper-button-prev{
    left:-32px;
}

.float{
    position:fixed;
    width:55px;
    height:55px;
    bottom:180px;
    right:0;
    background-color:#25d366;
    color:#fff;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow:2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}

.um-form input[type=number]{
    width:100%;
    height:40px !important;
}

.tt-col-logo img{
    width:200px;
}

a.tt-obj__btn.cart-contents{
    display:none;
}

.section-title .section-title__02{
    font-size:21px;
}

.tt-slideinfo .tt-item__title span{
    font-size:25px;
}

/* Media Queries */

@media (min-width:1230px){
    #js-init-sticky .container{
        max-width:1300px;
    }
}

@media (min-width:1025px){
    .mainSlider .slide .slide-content .tt-title-02{
        font-size:34px;
    }
}
